* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    
}

.titulo-header h1{
    font-size: 50px;
    color:#fff;
}

.titulo-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

header {
    width: 100%;
    height: 600px;
    background: #61ff4d75;
    background: linear-gradient(to right, #61ff4d75, #15490ea9), url(../img/headerportada.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    clip-path: polygon(50% 93%, 100% 58%, 100% 0, 0 0, 0 58%);

}

header .titulo-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.navbar {
    align-items: center !important;
    align-content: center !important;
    color: white !important;
}

.custom-shape-divider-bottom-1698097613 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}

.centro {
    
    display: grid;
    place-items: center;
    padding-bottom: 15px;
}

.carrusel2{
    display: flex;
    width: 1100px;
    height: 430px;
}
.carrusel2 img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border-radius: 10px;
}
.carrusel2 img:hover{
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}

@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}

    header {
        width: 100%;
        height: 600px;
        background: #61ff4d75;
        background: linear-gradient(to right, #61ff4d75, #15490ea9), url(../img/headerportada.jpg);
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        clip-path: polygon(50% 70%, 100% 60%, 100% 0, 0 0, 0 60%);

    }

    .titulo-header h1{
        font-size: 50px;
        padding-left: 10px;
        padding-right: 10px;
        color:#fff;
    }
    
    .titulo-header h2{
        font-size: 30px;
        font-weight: 300;
        color:#fff;
    }
}

/* EFECTO WAVE INICIO */

.custom-shape-divider-bottom-1698097613 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 158px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1698097613 .shape-fill {
    fill: #FFFFFF;
}

.carrusel {
    width: 100%;
    margin-top: 50px !important;
    align-items: center !important;
    justify-content: center !important;
}

.opinionesfondo {

    background: linear-gradient(to right, #61ff4d75, #15490ea9);
    margin-top: 40px !important;
    padding-top: 1px !important;
}
.tituloopiniones {

    margin-top: 50px !important;
    text-align: center !important;
    color: white;

}

.carousel {
    border-radius: 5% !important;
 
}

.opinion {

    margin-bottom: 60px !important;
}

.producto {

    margin-top: 30px !important;
    margin-bottom: 40px;
    border-radius: 5% !important;

}

.producto img {

    border-radius: 5% !important;
}

.precio {

    justify-content: center !important;
    text-align: center !important;
}

.centrado {

    text-align: center !important;
}



/* ÃREA DE TIPOS DE CLIENTES */

.tipos {
    background: #ffffff;
}

.titulotipos {
    margin-top: 40px !important;
    text-align: center !important;
    color: rgb(0, 0, 0) !important;
}

.imagenestipos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imgtipos {
    width: 24%;
    margin-bottom: 10px;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
    border-radius: 7%;
}

.imgtipos > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 7%;
}

.hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(113, 55%, 22%, 0.7);
    transition: width .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7%;
}

.hover p{
    color: #ffffff !important;
    font-weight: bolder;
}

.imgtipos:hover .hover{
    transform: scale(1);
}

/* BOOSTRAP */

.card {
    margin: 15px 20px 5px 20px;
    border-radius: 20px !important;

}

.card img {
    width: 100%;
    height: 550px;
    border-radius: 20px !important;
}

.card-text {

    text-align: center !important;
}

.card-title {

    text-align: center !important;
    font-weight: bolder !important;
}

.card-footer {
    text-align: center !important;
}

    

.card-body {

    font-family: 'Sometype Mono', monospace !important;
    
}